/vendor/
/node_modules/
/.idea/
/.vscode/
/.fleet/
/.vagrant/
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/.env
/.env.backup
/.phpunit.result.cache
/phpunit.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpstorm.meta.php
_ide_helper.php
.DS_Store
Thumbs.db
